  
body{
	background-image: url(../media/olympus.jpg);
	text-align: center;
	background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    font-size: 1.1em !important;
    font-family: 'Nunito', sans-serif !important;

	}

.text-muted{
	color: blue;
}
.last-seconds{
  color: red;
}
.option{
  margin: 15px;
}

.container {
	background-color: cornflowerblue;
}

.row{
	background-color: cornflowerblue;
}

.jumbotron-fluid{
	background-color: darkgoldenrod;
}